<h1>Result</h1>

<div class="replied">
  <% if @included %>
    <% if @valid_english %>
      <p>Congratulations! <strong><%= @word %></strong> is a valid English word!</p>
    <% else %>
      <p>Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</p>
    <% end %>
  <% else %>
    <p>Sorry but <strong><%= @word %></strong> can't be built out of <%= @letters.join(", ") %></p>
  <% end %>
</div>

<div>
  <%= link_to "Play again", new_path %>
</div>
